* { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
  font-family: monospace; 
}

body {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  background: #fcf3e3; 
  overflow: hidden; 
}

.container {
  width: 95%; 
  height: 95%; 
  position: relative; 
  background-color: white;
  border: 1px solid #e6ded0;
  border-radius: 10px;
  box-shadow: 5px 15px 15px rgba(64, 53, 37, 0.1);
}

.header {
  height: 40px;
  background-color: #bdd3ce ;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #013d5a;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
