
* { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
  font-family: monospace; 
}

body { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  background: #fcf3e3; 
  overflow: hidden; 
}

.container { 
  width: 400px; 
  height: 550px; 
  position: relative; }

.slider { 
  display: flex; 
  width: 200%; 
  height: 100%; 
  transition: transform 1s ease-in-out; 
  background-color: white;
  border-radius: 15px;
}

.form-title {
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 15px;
  color: #013d5a;
 }

.form-box1 { 
  width: 60%; 
  padding: 40px; 
  border-top-left-radius: 10px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 20px 35px rgba(37, 64, 64, 0.3);
}

.form-box2 { 
  width: 60%; 
  padding: 40px; 
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 20px 35px rgba(37, 64, 64, 0.3);
}

input {
  color:inherit;
  width: 100%;
  background-color: transparent;
  border: none;
  padding-left: 1.5rem;
  font-size: 15px;
  margin: 3px;
 }

select{
  color:inherit;
  width: 100%;
  background-color: transparent;
  border: none;
  padding-left: 1.5rem;
  font-size: 15px;
  margin: 3px;
  appearance: none;
  cursor: pointer;
 }

.input-group, select { 
  padding: 1% 0;
  position: relative;
}

.input-group i{ 
  position: absolute;
  color: #bdd3ce;
 }

input::placeholder, select::placeholder {
  color: transparent;
}

.input-group input,select { 
  width: 100%; 
  padding: 8px;
  border: 1.5px solid #013c5aa7; 
  border-radius: 20px; 
}

label{
  color: #013d5a;
  position: relative;
  left: 1.5em;
  top: -1.8em;
  cursor: auto;
  transition: 0.3s ease all;
}

input:focus ~ label,input:not(:placeholder-shown)~label{
  top: -4em;
  font-size: 15px;
  color: #708c69;
}

select:focus ~ label,select:not(:invalid) ~ label {
  top: -4em;
  font-size: 15px;
  color: #708c69;
}


.btn { 
  width: 100%; 
  padding: 10px; 
  background: #708c69; 
  color: white; 
  border: none; 
  border-radius: 15px; 
  cursor: pointer; 
  transition: background 0.3s ease;
  font-weight: bold;
}

.btn:hover { 
  background: #bdd3ce; 
  color: #013d5a; 
}

button {
  background-color: transparent;
  border: none;
  color: #708c69;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  color: #bdd3ce;
}

.links { 
  display: flex;
  justify-content: space-between;
  margin: 20px 5px;
  font-weight: bold;
  color: #013d5a;
}

.cover { 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  background-image: url('../imgs/background.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  top: 0; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  color: white; 
  font-size: 24px; 
  font-weight: bold; 
  transition: left 0.5s ease-in-out; 
  border: 2px solid rgba(170, 141, 108, 0.5);
  border-radius: 10px; 
}

.container.active .cover { 
  left: 0; 
}

.container.active .slider { 
  transform: translateX(-50%); 
}
